{% extends 'base.html' %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2><span>U21 BT Students Profile</span></h2>
          <p>Students And Their Profile Card</p> 
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <article>
    
  </article>
{% endblock %}